body {
	background-color: #fef2e8;
	font-family: Georgia, serif;
	border: 2.5px solid #7f893f;
	.flex-container{
	background-color: #e2d7ce;
	display: flex;
	list-style:none;
	justify-content:space-evenly;
	font-size: 21px;
	}
}
h1 {
	width: 100%;
	font-style: bold;
	color: #c36b3f;
	
	font-size: 60px;
	font-weight: bolder;
	text-align: center;
}
img {
	margin-bottom: -20px;
	width: 80px;
	height: 80px;
}